<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['skating-speed']" routerLinkActive="active">Skating Speed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['skating-distance']" routerLinkActive="active">Skating Distance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['shot-speed']" routerLinkActive="active">Shot Speed</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>