<div class="bg-dark bg-gradient">
  <div class="container">
    <ul class="nav nav-underline nav-brand">
      <li class="nav-item">
        <a class="nav-link link-light" [routerLink]="['/']" routerLinkActive="active">
          Radius Hockey
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="lighten-50">
  <div class="container">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link link-dark" [routerLink]="['/skaters']" routerLinkActive="active">Skaters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark" [routerLink]="['/goalies']" routerLinkActive="active">Goalies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark" [routerLink]="['/teams']" routerLinkActive="active">Teams</a>
      </li>
    </ul>
  </div>
</div>