<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="4"></th>
                <th colspan="3" class="table-active text-center">Bursts</th>
            </tr>
            <tr>
                <th scope="col">Skater</th>
                <th scope="col">Team</th>
                <th scope="col">Pos.</th>
                <th scope="col">Top Speed</th>
                <th scope="col">20 +</th>
                <th scope="col">20-22</th>
                <th scope="col">18-20</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let element of skatingTableElements">
                <th scope="row">{{element.player}}</th>
                <th>{{element.team}}</th>
                <th>{{element.position}}</th>
                <th>{{element.topSpeed}}</th>
                <th>{{element.twentyPlus}}</th>
                <th>{{element.twentyTwentyTwo}}</th>
                <th>{{element.eighteenTwenty}}</th>
            </tr>
        </tbody>
    </table>
</div>