<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/logo.svg"
                alt="Logo image">
            <h1>Radius Hockey</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas tellus rutrum tellus pellentesque eu tincidunt. Ultrices eros in cursus turpis massa. Pellentesque sit amet porttitor eget. Neque volutpat ac tincidunt vitae semper quis lectus. Bibendum neque egestas congue quisque egestas diam in.
            </p>
            <p>
                Id leo in vitae turpis massa sed. Ultrices eros in cursus turpis massa. Vitae congue mauris rhoncus aenean vel. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Magna fermentum iaculis eu non diam phasellus.
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/example'"
                [disabled]="true">
                <span>Coming Soon</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
